.Main {
    width: 100%;
    overflow: hidden;
    position: relative;
  }

.HeaderBGWrapper {
    background-image: url(../../assets/img/bg/HEADER_BG.jpg);
    background-size: cover;
    position: relative;
  }

.SliderText {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 29.5%;
    left: 15%;
  }

 
  
  .SliderText h1 {
    display: flex;
    flex-direction: column;
  
    font-family: "Gilroy";
    font-style: normal;
    font-weight: bold;
    font-size: 7.3rem;
    line-height: 8.8rem;
    letter-spacing: 0.27px;
    color: #fff;
  }
  
  .SliderText p {
    display: flex;
    flex-direction: column;
  
    font-family: "Gilroy";
    font-style: normal;
    font-weight: normal;
    font-size: 3rem;
    line-height: 3.6rem;
    letter-spacing: 0.113px;
    color: #fff;
  }

.MainTitle {
    margin-top: 4rem;
    margin-bottom: 6rem;

    text-align: center;
    font-family: 'Gilroy';
font-weight: bold;
font-size: 4rem;
line-height: 4.8rem;
letter-spacing: 0.460637px;

color: #000000;
}

.List {
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
}
.Item {
    width: 145px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ItemText {
    margin-top: 1.5rem;
    font-family: 'Gilroy';
font-weight: 800;
font-size: 1.8rem;
line-height: 2.2rem;
letter-spacing: 0.460637px;

color: #000000;
}

.Buttons {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    margin: 7rem auto 0;
}

.Button {
    cursor: pointer;
  
    width: 45%;

    max-width: 300px;

    background-color: transparent;
    border: 1px solid;
    border-image-source: linear-gradient(
      45deg,
      #a6a6a6 0%,
      #464646 15.51%,
      #b1b1b1 38.26%,
      #5f5f5f 62.19%,
      #acacac 72.92%,
      #3a3a3a 83.26%,
      #545454 94.98%,
      #ffffff 100%
    );
    border-image-slice: 1;
    padding: 1.1rem 1rem;
    text-align: center;
    font-size: 1.4rem;
    line-height: 1.7rem;
    letter-spacing: 0.83px;
    text-transform: uppercase;
    font-family: "Gilroy";
    font-weight: bold;
    color: #000;
    transition: transform 0.1s;
  }
  
  .Button:hover {
    color: #fff;
    background-image: linear-gradient(169.63deg, #f99026 0%, #df2029 100%);
    border-image-source: linear-gradient(169.63deg, #f99026 0%, #df2029 100%);
  }
  
  .Button:focus {
    outline: none;
  }
  
  .Button:active {
    transform: translateY(2px);
  }

  .OfficeCatering {
      margin-top: 4rem;
      width: 100vw;
      height: 100vh;
      background: url(../../assets/img/bg/officeCateringBG.png);
      background-size: cover;
      background-position: top;

      position: relative;
  }

  .GalleryTitle {
    margin-top: 3rem;
    margin-bottom: 3rem;

      text-align: center;
font-family: 'Gilroy';

font-weight: 800;
font-size: 2.8rem;
line-height: 3.4rem;
letter-spacing: 0.322446px;

color: #000000;
  }

  @media screen and (max-width: 1800px) {
    .SliderText h1 {
      font-size: 6.8rem;
      line-height: 6.8rem;
    }
    .SliderText p {
      font-size: 2.6rem;
      line-height: 3rem;
    }
  }
  
  @media screen and (max-width: 1350px) {
    .SliderText h1 {
      font-size: 5.8rem;
      line-height: 5.8rem;
    }
    .SliderText p {
      font-size: 2.2rem;
      line-height: 2.6rem;
    }

  }
  
  @media screen and (max-width: 1200px) {
    .SliderText {
      top: 30%;
      left: 15%;
    }
    .SliderText h1 {
      font-size: 4.5rem;
      line-height: 4.5rem;
    }
    .SliderText p {
      font-size: 1.8rem;
      line-height: 2.2rem;
    }

    .Buttons {
      justify-content: space-between;
    }
  }
  
  @media screen and (max-width: 1000px) {
    .List {
      width: 44%;
    }
    .List li:nth-child(1), .List li:nth-child(2) {
      margin-bottom: 4rem;
    }
  }
  
  @media screen and (max-width: 900px) {
    .MainTitle {
      font-size: 4rem;
    }
    .OfficeCatering {
      height: 70vh;
    }
  }

  @media screen and (max-width: 700px) {
    .Buttons {
      width: 50%;
      min-width: 290px;
      margin: 7rem auto 0;
    }
    .Button {
      font-size: .9rem;
      padding: .9rem .7rem;
      width: 45%;
    }
  }
  
  @media screen and (max-width: 750px) {

    .SliderText {
      top: 35%;
      left: 12%;
    }
    .SliderText h1 {
      font-size: 4rem;
      line-height: 4rem;
    }
    .SliderText p {
      font-size: 1.6rem;
      line-height: 2rem;
    }
    .List {
      min-width: 300px;
    }

    .OfficeCatering {
      height: 60vh;
    }

  }
  
  @media screen and (max-width: 650px) {
    .SliderText {
      top: 35%;
      left: 15%;
    }
    .SliderText h1 {
      font-size: 3.5rem;
      line-height: 3.5rem;
    }
    .SliderText p {
      font-size: 1.2rem;
      line-height: 1.6rem;
    }
  
  }
  
  @media screen and (max-width: 600px) {
    
    .HeaderBGWrapper {
      background-image: url(../../assets/img/bg/HEADER_BG600.jpg);
      padding-top: 20rem;
    }
    .SliderText {
      top: 13.5%;
      left: 50%;
      transform: translateX(-50%);
      z-index: 400;
      width: 90%;
      text-align: center;
    }
  
    .SliderText h1 {
      font-size: 5rem;
      line-height: 5rem;
    }

    .SliderText p {
      font-size: 1.8rem;
    }

    .Wrapper {
      margin-top: -15rem;
    }
    .MainTitle {
      position: relative;
      z-index: 500;
    }
  
  }
  
  @media screen and (max-width: 550px) {
    .SliderText {
      top: 15%;
    }
    .SliderText h1 {
      font-size: 4.5rem;
      line-height: 4.5rem;
    }
    .MainTitle {
      margin-top: 6rem;
      font-size: 3.5rem;
    }
  }
  
  @media screen and (max-width: 500px) {
    .MainTitle {
      margin-top: 7rem;
    }
    .SliderText {
      top: 17%;
    }
  }

  @media screen and (max-width: 450px) {
   
    .SliderText {
      top: 18%;
      left: 50%;
    }

    .MainTitle {
      margin-top: 9rem;
      margin-bottom: 4rem;
      padding: 0 2rem; 
      font-size: 3rem;
    }
  }
  
  @media screen and (max-width: 400px) {
    .SliderText {
      top: 21%;
      left: 50%;
    }
  }
  
  @media screen and (max-width: 350px) {
    .SliderText {
      top: 23%;
    }
    .SliderText h1 {
      font-size: 4rem;
    }
  }