.Form {
  max-width: 955px;
  width: 70%;
  height: 561px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: #fff;
  backface-visibility: hidden;
}

.Logo {
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.Step {
  text-align: center;

  margin-top: 1.5rem;

  font-family: "Gilroy";
  font-weight: 800;
  font-size: 3.6rem;
  line-height: 4.4rem;
  letter-spacing: 0.460637px;

  color: rgba(248, 68, 25, 0.5);
}

.SubTitle {
  font-family: "Gilroy";

  font-weight: bold;
  font-size: 1.8rem;
  line-height: 2.2rem;

  letter-spacing: 0.460637px;

  text-align: center;

  color: #000000;
}

.Sets {
  display: flex;
  width: 95%;

  list-style: none;
  margin: 0 auto;
  backface-visibility: hidden;
}

.SetItem {
  width: 33%;
  height: 367px;

  margin: 1rem;

  /* box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.3); */

  display: flex;
  flex-direction: column;
}

.TopContext {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.SetName {
  display: flex;
  align-items: center;

  height: 40px;

  font-family: "Gilroy";
  font-size: 1.8rem;
  line-height: 2.1rem;
  letter-spacing: 0.460637px;

  color: #000000;
}

.SetName span {
  margin-left: 1rem;
}

.Icon {
  display: block;
}

.SetBoxWrapper {
  height: 273px;
  position: relative;
}

.SetBox {
  list-style: none;
  height: 237px;
  overflow-y: auto;

  backface-visibility: hidden;
}

.SetBoxItem {
  font-family: "Gilroy";

  font-weight: bold;
  font-size: 12px;
  line-height: 14px;

  letter-spacing: 0.293333px;

  color: #ffffff;

  padding: 1rem;
}

.SetBoxDish {
  display: flex;
  justify-content: space-between;
}

.Underline {
  flex: 2;
  margin: 0 0.5rem;
  border-bottom: 1px solid #fff;
}

.Weight {
  display: inline-block;
}

.Price {
  font-family: "Gilroy";

  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.7rem;

  color: #ffffff;

  position: absolute;
  right: 1.5rem;
  bottom: 1rem;
}

.SetPeople {
  font-family: "Gilroy";
  font-size: 1.8rem;
  line-height: 2.1rem;
  letter-spacing: 0.460637px;

  color: #000000;
}

.BotContext {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: auto;

  backface-visibility: hidden;
}
/*=============================================BTN=====================================*/

.Button {
  cursor: pointer;

  position: absolute;
    left: 50%;
    transform: translateX(-50%);

  margin: 2.1rem auto 0;
  display: block;
  width: 27rem;
  background-color: transparent;
  border: 1px solid;
  border-image-source: linear-gradient(
    45deg,
    #a6a6a6 0%,
    #464646 15.51%,
    #b1b1b1 38.26%,
    #5f5f5f 62.19%,
    #acacac 72.92%,
    #3a3a3a 83.26%,
    #545454 94.98%,
    #ffffff 100%
  );
  border-image-slice: 1;
  padding: 1.1rem 1rem;
  text-align: center;
  font-size: 1.4rem;
  line-height: 2rem;
  letter-spacing: 0.83px;
  text-transform: uppercase;
  font-family: "Gilroy";
  font-weight: 800;
  color: #000;
  transition: transform 0.1s;
}

.Button:disabled{
  cursor: default;
  border-image-source: none;
  border: 1px solid #cacaca;
  color: #cacaca;
}

.Button:hover:enabled {
  color: #fff;
  background-image: linear-gradient(169.63deg, #f99026 0%, #df2029 100%);
  border-image-source: linear-gradient(169.63deg, #f99026 0%, #df2029 100%);
}

.Button:focus {
  outline: none;
}

.Button:active {
  transform: translate(-50%, 2px);
}

/* ============================================BTN Menu========================================================*/

.MenuButton {
  cursor: pointer;

  display: block;
  width: 13rem;
  background-color: transparent;
  border: 1px solid;
  border-image-source: linear-gradient(
    45deg,
    #a6a6a6 0%,
    #464646 15.51%,
    #b1b1b1 38.26%,
    #5f5f5f 62.19%,
    #acacac 72.92%,
    #3a3a3a 83.26%,
    #545454 94.98%,
    #ffffff 100%
  );
  border-image-slice: 1;
  padding: 1.1rem 1rem;
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.5rem;
  letter-spacing: 0.83px;
  text-transform: uppercase;
  font-family: "Gilroy";
  font-weight: 800;
  color: #000;
  transition: transform 0.1s;
}

.MenuButton:hover {
  color: #fff;
  background-image: linear-gradient(169.63deg, #f99026 0%, #df2029 100%);
  border-image-source: linear-gradient(169.63deg, #f99026 0%, #df2029 100%);
}

.MenuButton:focus {
  outline: none;
}

.MenuButton:active {
  transform: translateY(2px);
}

.Green {
  color: #fff;
  background-image: linear-gradient(169.63deg, #00db00 0%, #084400 100%);
  border-image-source: linear-gradient(169.63deg, #00db00 0%, #084400 100%);
}

@media screen and (max-width: 1300px) {
  .Form {
    height: 525px;
  }
  .SetItem {
    height: 328px;
  }
  .SetBoxWrapper {
    height: 237px;
  }
  .SetBox {
    height: 202px;
  }
  .MenuButton {
    width: 12rem;
  }
  .SetBoxItem {
    font-size: 9px;
    line-height: 10px;
  }
  .Price {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 1200px) {
  .Form {
    width: 69%;
  }
  .SetBoxWrapper {
    width: 245px;
  }
  .SetItem {
    width: 245px;
  }
  .Sets {
    width: 95%;
    overflow-x: auto;
  }
  .MenuButton {
    padding: 1.1rem .5rem;
    width: 11.5rem;
  }
}

@media screen and (max-width: 900px) {
  .Form {
    width: 90%;
    height: 480px;
  }
  .Sets {
    width: 95%;
  }
  .MenuButton {
      width: 14rem;
  }
  .Button {
    width: 16.7rem;
    font-size: 1.2rem;
    padding: 1.1rem .5rem;
    line-height: 1.5rem;
  }
}



@media screen and (max-width: 600px) {
  .Form {
    width: 70%;
    min-width: 310px;
  }
  .Logo {
    transform: scale(0.6);
    top: 0;
    left: -.5rem;
  }
  .SetBoxWrapper {
    width: 245px;
  }
  .SetItem {
    width: 245px;
  }
  .MenuButton {
    padding: 1.1rem .5rem;
    width: 14rem;
  }
}