.Buffet {
  width: 155px;
  height: 252px;

  background-size: cover;
  background-position: center;

  position: absolute;
  top: 150%;
  left: 49.3%;

  transform: translateX(-50%);

  z-index: 90;
}

.WalkInBuffet {
  animation: walkInBuffet 1s ease-in-out forwards;
}

@keyframes walkInBuffet {
  from {
    opacity: 0;
    top: 150%;
  }
  70% {
    opacity: 0.4;
  }
  to {
    opacity: 1;
    top: 11%;
  }
}

.Title {
  font-family: "Gilroy";

  font-weight: 600;
  font-size: 18px;
  line-height: 22px;

  letter-spacing: 0.391541px;

  color: #ffffff;

  text-shadow: 0px 0px 20px #000000, 0px 0px 20px #000000;

  position: absolute;
  top: 45%;
  left: 50%;

  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.Total {
  display: flex;
  flex-direction: column;
  justify-content: center;

  position: absolute;
  bottom: 65px;
  right: 9px;

  z-index: 150;

  font-family: "Gilroy";

  font-weight: 600;
  font-size: 11px;
  line-height: 14px;
  text-align: center;

  letter-spacing: 0.5px;

  color: #ffffff;
}

.Total span:nth-child(2) {
  margin-top: 2px;
}

.Total span:nth-child(3) {
  margin-top: -2px;
}
